.hi {
  position: relative;
  display: inline-block;
  width: 159px;
}
.im-uwimbabazi-keza {
  position: relative;
  font-size: var(--paragraph-body-size);
  line-height: 28px;
  color: var(--main-secondary);
}
.heading {
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 64px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.whatsapp-image-2023-05-18-at-1 {
  position: relative;
  border-radius: 150px;
  width: 296px;
  height: 505px;
  object-fit: cover;
}
.write-introduction-or {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.text {
  position: relative;
  font-size: var(--paragraph-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--denotive-disabled-variant);
  text-align: center;
}
.download-cv-button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--main-accent);
  box-shadow: var(--shadow-button);
  width: 172px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.download-cv-button-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  height: 56px;
}
.part-inner {
  text-decoration: none;
  position: relative;
  width: 172px;
  height: 56px;
}
.hero,
.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.part {
  border-radius: var(--br-base);
  width: 288px;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--paragraph-body-size);
}
.hero {
  align-self: stretch;
  background-color: var(--denotive-disabled-variant);
  gap: var(--gap-lg);
  font-size: var(--headings-h3-size);
}
.services1 {
  position: relative;
  display: inline-block;
  width: 247px;
}
.sub-heading {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  width: 287px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-25xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.image-placecholder-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image {
  position: absolute;
  top: -21px;
  left: 16px;
  border-radius: var(--br-5xs);
  box-shadow: 0 8px 32px rgba(242, 242, 242, 0.6);
  width: 256px;
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div,
.projects {
  position: relative;
}
.projects {
  flex: 1;
  text-align: left;
}
.projects-completed {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.data {
  position: absolute;
  top: 215px;
  left: 16px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.service-title {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.main {
  width: 256px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.here {
  color: var(--main-primary);
}
.lorem-ipsum-dolor-container {
  flex: 1;
  position: relative;
}
.description,
.text1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  width: 256px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  font-size: var(--paragraph-caption-size);
  color: var(--neutrals-n900);
}
.text1 {
  position: absolute;
  top: 246px;
  left: 16px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--paragraph-body-size);
  color: var(--main-primary);
}
.services-card {
  text-decoration: none;
  position: relative;
  border-radius: var(--br-xs);
  width: 288px;
  height: 336px;
  cursor: pointer;
  color: inherit;
}
.image1 {
  position: absolute;
  top: -21px;
  left: 16px;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-button);
  width: 256px;
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects1 {
  flex: 1;
  position: relative;
  text-align: left;
  display: none;
}
.here2 {
  text-decoration: underline;
}
.cards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
}
.services2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text4 {
  position: relative;
  font-size: var(--paragraph-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--neutrals-n0);
  text-align: center;
}
.view-all-button {
  border-radius: var(--br-5xs);
  background-color: var(--main-accent);
  width: 172px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.text5 {
  position: relative;
  font-size: var(--paragraph-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-primary);
  text-align: center;
}
.add-project-button {
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n0);
  border: 1px solid var(--main-primary);
  box-sizing: border-box;
  width: 172px;
  display: flex;
  padding: var(--padding-lg) var(--padding-11xl);
}
.add-project-button,
.admin-controls,
.buttons {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.admin-controls {
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n0);
  border: 1px solid var(--main-primary);
  box-sizing: border-box;
  width: 172px;
  display: none;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  gap: var(--gap-5xl);
}
.content-services,
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-services {
  border-radius: var(--br-base);
  width: 1384px;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  font-size: var(--paragraph-smaller-caption-size);
  color: var(--main-secondary);
}
.services {
  align-self: stretch;
  background-color: var(--neutrals-n0);
  gap: var(--gap-lg);
}
.i-design-clean {
  position: relative;
  font-size: var(--paragraph-body-size);
  line-height: 28px;
  display: inline-block;
  width: 363px;
  height: 66px;
  flex-shrink: 0;
}
.image2,
.sub-heading1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sub-heading1 {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  width: 287px;
  padding: var(--padding-25xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: 36px;
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  box-shadow: 0 8px 32px rgba(242, 242, 242, 0.6);
  width: 288px;
  height: 220px;
  overflow: hidden;
  align-items: flex-start;
}
.project-tags,
.project-title {
  position: relative;
  font-size: var(--paragraph-smaller-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-secondary);
  text-align: left;
}
.project-title {
  flex: 1;
  font-size: var(--paragraph-body-size);
  line-height: 28px;
  color: var(--neutrals-n900);
}
.info,
.text6 {
  width: 256px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info {
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.text6 {
  position: absolute;
  top: 236px;
  left: 16px;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.projects-card,
.projects-card2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 288px;
  height: 301px;
}
.content-projects {
  border-radius: var(--br-base);
  width: 1384px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.whatsapp-image-2023-05-18-at-11 {
  position: relative;
  border-radius: 500px;
  width: 237px;
  height: 272px;
  object-fit: cover;
}
.about-me2 {
  align-self: stretch;
  position: relative;
}
.paragraph,
.sub-heading2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.sub-heading2 {
  border-radius: var(--br-base);
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
}
.paragraph {
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: flex-start;
  font-size: var(--paragraph-body-size);
}
.content-about-me,
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details {
  width: 480px;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.content-about-me {
  width: 1384px;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
  align-items: center;
}
.about-me,
.solid {
  background-color: var(--denotive-disabled-variant);
}
.about-me {
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.solid {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  width: 60px;
  height: 60px;
}
.communicationmail-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.alustudentcom {
  color: inherit;
}
.data2,
.text11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text11 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  padding: var(--padding-base) 0;
  align-items: flex-start;
}
.data2 {
  width: 258px;
  align-items: center;
  gap: var(--gap-xs);
  color: inherit;
}
.github-mark-1-icon {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 28px;
  height: 30px;
  object-fit: cover;
}
.httpsgithubcomuwimbabazi- {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 28px;
  color: inherit;
}
.data3,
.text12 {
  display: flex;
  justify-content: flex-start;
}
.text12 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
}
.data3 {
  width: 258px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.div2 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 147px;
}
.text13 {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-6xl);
  align-items: center;
  justify-content: center;
}
.break,
.cards3,
.text13 {
  align-self: stretch;
}
.cards3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.break {
  position: relative;
  background-color: var(--denotive-disabled-variant);
  height: 1px;
}
.uwimbabazi-keza {
  position: relative;
  line-height: 28px;
}
.footer,
.part1,
.text14 {
  display: flex;
  justify-content: flex-start;
}
.text14 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-15xl);
  align-items: flex-start;
}
.footer,
.part1 {
  flex-direction: column;
}
.part1 {
  background-color: var(--neutrals-n0);
  width: 288px;
  align-items: flex-start;
  color: var(--neutrals-n900);
}
.footer {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-lg);
  font-size: var(--paragraph-body-size);
  color: var(--main-primary);
}
.content,
.footer,
.home {
  background-color: var(--neutrals-n0);
}
.content {
  position: absolute;
  height: calc(100% - 100px);
  width: 98.33%;
  top: 88px;
  right: 0.83%;
  bottom: 12px;
  left: 0.83%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.home {
  position: relative;
  width: 100%;
  height: 3693px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--headings-h4-size);
  color: var(--neutrals-n900);
  font-family: var(--paragraph-smaller-caption);
}
