.service-title4 {
  position: relative;
}
.heading3,
.hero3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero3 {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  overflow: hidden;
  padding: var(--padding-141xl) 0;
  justify-content: flex-start;
}
.image-placeholer-icon2 {
  position: relative;
  width: 1008px;
  height: 768px;
  object-fit: cover;
}
.content6,
.image8 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content6 {
  border-radius: var(--br-5xl);
  width: 1008px;
  height: 768px;
  flex-shrink: 0;
}
.image8 {
  align-self: stretch;
  border-radius: var(--br-lg);
  padding: 0 var(--padding-13xl);
}
.overview5 {
  align-self: stretch;
  position: relative;
}
.sub-heading7 {
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.text31 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.paragraph5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  justify-content: flex-start;
  font-size: var(--paragraph-body-size);
}
.cards10,
.overview4,
.paragraph5 {
  display: flex;
  align-items: flex-start;
}
.overview4 {
  width: 480px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.cards10 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-29xl);
}
.paragraph7,
.sub-heading9 {
  width: 1008px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.sub-heading9 {
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
}
.paragraph7 {
  flex-direction: row;
  padding: 0 var(--padding-base);
  font-size: var(--paragraph-body-size);
}
.approach2,
.cards11,
.paragraph7 {
  display: flex;
  align-items: flex-start;
}
.approach2 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.cards11 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.data13 {
  gap: var(--gap-29xl);
}
.content-info2,
.data13,
.information2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-info2 {
  width: 1008px;
}
.information2 {
  align-self: stretch;
  background-color: var(--neutrals-n0);
  padding: var(--padding-21xl) 0;
  text-align: left;
  font-size: var(--headings-h4-size);
  color: var(--neutrals-n900);
}
.projects-placeholder-icon6 {
  position: relative;
  width: 288px;
  height: 220px;
  object-fit: cover;
}
.thumbnail-12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.text34 {
  position: relative;
  font-size: var(--paragraph-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-primary);
  text-align: center;
}
.edit-project-button2 {
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n0);
  border: 1px solid var(--main-primary);
  box-sizing: border-box;
  width: 172px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.admin-controls3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery-view5 {
  width: 959px;
  gap: var(--gap-29xl);
}
.content-gallery-view2,
.gallery-view4,
.gallery-view5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-gallery-view2 {
  border-radius: var(--br-base);
  width: 1384px;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
}
.gallery-view4 {
  align-self: stretch;
  background-color: var(--neutrals-n0);
}
.solid9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--denotive-disabled-variant);
  width: 60px;
  height: 60px;
}
.communicationmail-icon3 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon9 {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.alustudentcom7 {
  text-decoration: underline;
}
.alustudentcom6 {
  color: inherit;
}
.ukezaalustudentcom3 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.data14,
.text35 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text35 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  padding: var(--padding-base) 0;
  align-items: flex-start;
}
.data14 {
  width: 258px;
  align-items: center;
  gap: var(--gap-xs);
  color: inherit;
}
.github-mark-1-icon3 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 28px;
  height: 30px;
  object-fit: cover;
}
.httpsgithubcomuwimbabazi-3 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 28px;
  color: inherit;
}
.data15,
.text36 {
  display: flex;
  justify-content: flex-start;
}
.text36 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
}
.data15 {
  width: 258px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.div5 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 147px;
}
.cards12,
.text37 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.text37 {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-6xl);
  align-items: center;
}
.cards12 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.footer7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.break3 {
  align-self: stretch;
  position: relative;
  background-color: var(--denotive-disabled-variant);
  height: 1px;
}
.uwimbabazi-keza3 {
  position: relative;
  line-height: 28px;
}
.content5,
.footer6,
.part4,
.text38 {
  background-color: var(--neutrals-n0);
  display: flex;
}
.text38 {
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-15xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.content5,
.footer6,
.part4 {
  flex-direction: column;
}
.part4 {
  width: 288px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--neutrals-n900);
}
.content5,
.footer6 {
  align-items: center;
}
.footer6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--paragraph-body-size);
  color: var(--main-primary);
}
.content5 {
  position: absolute;
  height: calc(100% - 100px);
  width: 98.33%;
  top: 88px;
  right: 0.83%;
  bottom: 12px;
  left: 0.83%;
  padding: var(--padding-base);
  box-sizing: border-box;
  justify-content: space-between;
}
.ui-actionsarrow-left-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector2 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--denotive-disabled-variant);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.text39 {
  position: relative;
  font-size: var(--paragraph-body-size);
  line-height: 28px;
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-primary);
  text-align: center;
}
.back-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navbarexpanded2,
.project-2-expanded {
  background-color: var(--neutrals-n0);
  width: 100%;
}
.navbarexpanded2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 88px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.project-2-expanded {
  position: relative;
  height: 2764px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--headings-h3-size);
  color: var(--gray-1);
  font-family: var(--paragraph-smaller-caption);
}
