.service-title2 {
  position: relative;
}
.heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero1,
.sub-text {
  border-radius: var(--br-base);
}
.sub-text {
  width: 287px;
}
.hero1 {
  align-self: stretch;
  background-color: var(--neutrals-n0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-141xl) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.image-placeholer-icon {
  position: relative;
  width: 1008px;
  height: 768px;
  object-fit: cover;
}
.content2,
.image6 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-5xl);
  width: 1008px;
  height: 768px;
  flex-shrink: 0;
}
.image6 {
  align-self: stretch;
  border-radius: var(--br-lg);
  padding: 0 var(--padding-13xl);
}
.overview1 {
  align-self: stretch;
  position: relative;
}
.sub-heading3 {
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.text15 {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.paragraph1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  justify-content: flex-start;
  font-size: var(--paragraph-body-size);
}
.cards4,
.overview,
.paragraph1 {
  display: flex;
  align-items: flex-start;
}
.overview {
  width: 480px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.cards4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-29xl);
}
.paragraph3,
.sub-heading5 {
  width: 1008px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.sub-heading5 {
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
}
.paragraph3 {
  flex-direction: row;
  padding: 0 var(--padding-base);
  font-size: var(--paragraph-body-size);
}
.approach,
.cards5,
.paragraph3 {
  display: flex;
  align-items: flex-start;
}
.approach {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.cards5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.data5 {
  gap: var(--gap-29xl);
}
.content-info,
.data5,
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-info {
  width: 1008px;
}
.information {
  align-self: stretch;
  background-color: var(--neutrals-n0);
  padding: var(--padding-21xl) 0;
  text-align: left;
  font-size: var(--headings-h4-size);
  color: var(--neutrals-n900);
}
.projects-placeholder-icon {
  position: relative;
  width: 288px;
  height: 220px;
  object-fit: cover;
}
.thumbnail-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-base);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.text18 {
  position: relative;
  font-size: var(--paragraph-caption-size);
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-primary);
  text-align: center;
}
.edit-project-button {
  border-radius: var(--br-5xs);
  background-color: var(--neutrals-n0);
  border: 1px solid var(--main-primary);
  box-sizing: border-box;
  width: 172px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-11xl);
  align-items: center;
  justify-content: center;
}
.admin-controls1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery-view1 {
  width: 959px;
  gap: var(--gap-29xl);
}
.content-gallery-view,
.gallery-view,
.gallery-view1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-gallery-view {
  border-radius: var(--br-base);
  width: 1384px;
  padding: var(--padding-base) var(--padding-mid);
  box-sizing: border-box;
}
.gallery-view {
  align-self: stretch;
  background-color: var(--neutrals-n0);
}
.solid3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--denotive-disabled-variant);
  width: 60px;
  height: 60px;
}
.communicationmail-icon1 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon3 {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.alustudentcom3 {
  text-decoration: underline;
}
.alustudentcom2 {
  color: inherit;
}
.ukezaalustudentcom1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.data6,
.text19 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text19 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  padding: var(--padding-base) 0;
  align-items: flex-start;
}
.data6 {
  width: 258px;
  align-items: center;
  gap: var(--gap-xs);
  color: inherit;
}
.github-mark-1-icon1 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 28px;
  height: 30px;
  object-fit: cover;
}
.httpsgithubcomuwimbabazi-1 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  line-height: 28px;
  color: inherit;
}
.data7,
.text20 {
  display: flex;
  justify-content: flex-start;
}
.text20 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
}
.data7 {
  width: 258px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.div3 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 147px;
}
.cards6,
.text21 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.text21 {
  border-radius: var(--br-base);
  background-color: var(--neutrals-n0);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-6xl);
  align-items: center;
}
.cards6 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.footer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.break1 {
  align-self: stretch;
  position: relative;
  background-color: var(--denotive-disabled-variant);
  height: 1px;
}
.uwimbabazi-keza1 {
  position: relative;
  line-height: 28px;
}
.content1,
.footer2,
.part2,
.text22 {
  background-color: var(--neutrals-n0);
  display: flex;
}
.text22 {
  align-self: stretch;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-15xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.content1,
.footer2,
.part2 {
  flex-direction: column;
}
.part2 {
  width: 288px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--neutrals-n900);
}
.content1,
.footer2 {
  align-items: center;
}
.footer2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--paragraph-body-size);
  color: var(--main-primary);
}
.content1 {
  position: absolute;
  height: calc(100% - 100px);
  width: 98.33%;
  top: 88px;
  right: 0.83%;
  bottom: 12px;
  left: 0.83%;
  padding: var(--padding-base);
  box-sizing: border-box;
  justify-content: space-between;
}
.ui-actionsarrow-left-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector {
  border-radius: var(--br-9xs);
  border: 1px solid var(--denotive-disabled-variant);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.text23 {
  position: relative;
  font-size: var(--paragraph-body-size);
  line-height: 28px;
  font-family: var(--paragraph-smaller-caption);
  color: var(--main-primary);
  text-align: center;
}
.back-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navbarexpanded,
.projects-expanded {
  background-color: var(--neutrals-n0);
  width: 100%;
}
.navbarexpanded {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 88px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.projects-expanded {
  position: relative;
  height: 2764px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--headings-h3-size);
  color: var(--gray-1);
  font-family: var(--paragraph-smaller-caption);
}
